html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #324376;
}
#map{
    margin-top:5%;
    width:100%;
    height:60%;
}
#header h1{
    text-align: center;
    width:auto;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 60px;
    padding:0;
    padding-top:10px;
    margin:0;
    color:white;
}

#searchterm{
    font-size: 35px;
    width:48%;
    height:50px;
    margin-left:20%;
    margin-top:10%;
    font-family: 'Open Sans', sans-serif;
    padding-left: 20px;
}
button{
    background-color: #F76C5E;
    border:none;
    color:white;
    padding:0px 32px;
    width:10%;
    height: 56px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
button:hover{
    cursor: pointer;
}
button:active{
    background-color: #c15247;
}
#checkbox{
    z-index: 3;
    left: 5px;
    width:20%;
    margin-top:70px;
    position:absolute;
    background-color: rgba(246,142,95,0.5);
    border: solid 1px #F68E5F;
    padding: 10px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}
#content{
    margin-top:18%;
    height:80vh;
}
#content h1{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color:white;
}
#direction{
    color:rgba(255,255,255,.5);
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    left:28%;
    top:25%;
    width:44%;
}
#help{
    color:rgba(255,255,255,.2);
    font-family: 'Open Sans', sans-serif;
    float:right;
    margin-right:20px;
    margin-top:0;
    width:auto;
    font-size: 20px;
}
hr{
    border-color: black;
}
#help:hover{
    color:rgba(255,255,255,.5);
    cursor:pointer;
    transition: color 0.5s;
}

/* Column Styles */
#columns{
    text-align: center;
}
.col{
    position: relative;
    display: inline-block;
    top: 0;
    width: 30%;
    height: 400px;
    background-color: white;
    margin: 1%;
    text-align: center;
}

.col h2{
    color: #324376;
    font-family: 'Raleway', sans-serif;
}

.col p{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding-left: 35px;
    padding-right: 35px;
    text-align: left;
}

/* Footer */
footer{
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
}

/* Pop-up Styles */
#popup{
    position: fixed;
    width: 40%;
    left: 30%;
    top: 35%;
    height: 30%;
    background-color: rgba(246,142,95,0.9);
    padding:0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

#close{
    position: absolute;
    right: 5px;
    top: 0px;
    line-height:0;
    padding:0;
    margin:0;
    margin-top:8px;
    font-size: 30px;
}

#close:hover{
    cursor: pointer;
    color: white;
    transition: color 0.5s;
}
#incidentDiv{
    overflow: scroll;
}
.incident{
    float:left;
    width: 25%;
    height: 75px;
}